@model List<Aluno>


<style>
    .linha-tabela {
        transition: transform 0.3s ease;
    }


        .linha-tabela:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
</style>


<table class="table">
    <thead>
        <tr class="linha-tabela">
            <th scope="col">Matéria</th>
            <th scope="col">Aluno</th>
            <th scope="col">Nota</th>
            <th scope="col">CEP</th>
            <th scope="col">Faltas</th>
        </tr>
    </thead>
    <tbody>
        <tr class="linha-tabela">
            <td>Português</td>
            <td>Toguro</td>
            <td>9.0</td>
            <td>11111111</td>
            <td>1</td>

        </tr>
        <tr class="linha-tabela">
            <td>Português</td>
            <td>Gnomo</td> 
            <td>7</td>
            <td>47474747474</td>
            <td>4</td>

        </tr>
        <tr class="linha-tabela">
            <td>Português</td>
            <td>Silvio o santos</td>
            <td>3</td>
            <td>47474747474</td>
            <td>0</td>

        </tr>

        <tr class="linha-tabela">
            <td>Português</td>
            <td>Silvio</td> 
            <td>8</td>
            <td>47474747474</td>
            <td>0</td>

        </tr>
        <tr class="linha-tabela">
            <td>Português</td>
            <td>o</td>
            <td>9</td>
            <td>47474747474</td>
            <td>1</td>

        </tr>
        <tr class="linha-tabela">
            <td>Santos</td>
            <td>Santos</td>
            <td>10</td>
            <td>47474747474</td>
            <td>2</td>

        </tr>
    </tbody>
</table>


<div class="btn-group">
    <button type="button" class="btn btn-primary">
        <a class="nav-link text-white" asp-area="" asp-controller="Professor" asp-action="Adicionar">Adicionar</a>
    </button>

    <button type="button" class="btn btn-secondary">
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
    </button>
</div>
