@{
    ViewData["Title"] = "Home Page";
}
@*<link rel="stylesheet" href="~/css/styles.css" />*@

<div class="text-center align-middle">
    <h1 class="display-4">Bem vindo</h1>
    <p>Obtenha conhecimento</p>
</div>
